<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: consolas;
        font-size: 3em;
        font-weight: bold;
        background-color: green;
        color: white;
    }
</style>
<title>DTR Time In</title>
Time out successfully at <%= data.timeOut %>