<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: consolas;
        font-size: 3em;
        font-weight: bold;
        background-color: red;
        color: white;
    }
</style>
<title>DTR Time In</title>
You already scanned at <%= data[0].timeIn %>!